In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('GDPlist.csv')
df.head()

        Country      Continent  GDP (millions of US$)
0  ÔøΩAfghanistan           Asia                  18181
1      ÔøΩAlbania         Europe                  12847
2      ÔøΩAlgeria         Africa                 190709
3       ÔøΩAngola         Africa                 100948
4    ÔøΩArgentina  South America                 447644

- ƒê·ªçc b·ªô d·ªØ li·ªáu, cho bi·∫øt s·ªë d√≤ng, s·ªë c·ªôt v√† ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c thu·ªôc t√≠nh.
- Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
- Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù    
- Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.
- X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
- X√≥a c√°c b·∫£n ghi c√≥ GDP < 300000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [4]:
translate = {
    'Country': 'Nuoc',
    'Continent': 'Chauluc',
    'GDP (millions of US$)': 'GDP (trieu $)'
}

df.rename(columns=translate, inplace=True)
df.head()

           Nuoc        Chauluc  GDP (trieu $)
0  ÔøΩAfghanistan           Asia          18181
1      ÔøΩAlbania         Europe          12847
2      ÔøΩAlgeria         Africa         190709
3       ÔøΩAngola         Africa         100948
4    ÔøΩArgentina  South America         447644

In [5]:
df.insert(1, 'Thanh pho', df['Nuoc'])
df.head()

           Nuoc     Thanh pho        Chauluc  GDP (trieu $)
0  ÔøΩAfghanistan  ÔøΩAfghanistan           Asia          18181
1      ÔøΩAlbania      ÔøΩAlbania         Europe          12847
2      ÔøΩAlgeria      ÔøΩAlgeria         Africa         190709
3       ÔøΩAngola       ÔøΩAngola         Africa         100948
4    ÔøΩArgentina    ÔøΩArgentina  South America         447644

In [6]:
df['Thanh pho'].replace('ÔøΩVietnam', 'Hanoi', inplace=True)
df.loc[df.Nuoc == 'ÔøΩVietnam']

         Nuoc Thanh pho Chauluc  GDP (trieu $)
122  ÔøΩVietnam     Hanoi    Asia         122722

In [7]:
df.drop(df[df.Chauluc == 'Asia'].index)

               Nuoc       Thanh pho        Chauluc  GDP (trieu $)
1          ÔøΩAlbania        ÔøΩAlbania         Europe          12847
2          ÔøΩAlgeria        ÔøΩAlgeria         Africa         190709
3           ÔøΩAngola         ÔøΩAngola         Africa         100948
4        ÔøΩArgentina      ÔøΩArgentina  South America         447644
5        ÔøΩAustralia      ÔøΩAustralia        Oceania        1488221
..              ...             ...            ...            ...
118  ÔøΩUnited States  ÔøΩUnited States  North America       15094025
119        ÔøΩUruguay        ÔøΩUruguay  South America          46872
121      ÔøΩVenezuela      ÔøΩVenezuela  South America         315841
123          ÔøΩYemen          ÔøΩYemen         Africa          33675
124         ÔøΩZambia         ÔøΩZambia         Africa          19206

[89 rows x 4 columns]

In [11]:
df.drop(df[df['GDP (trieu $)'] < 300000].index)

,Nuoc,Thanh pho,Chauluc,GDP (trieu $)
4,ÔøΩArgentina,ÔøΩArgentina,South America,447644
5,ÔøΩAustralia,ÔøΩAustralia,Oceania,1488221
6,ÔøΩAustria,ÔøΩAustria,Europe,419243
11,ÔøΩBelgium,ÔøΩBelgium,Europe,513396
15,ÔøΩBrazil,ÔøΩBrazil,South America,2492908
21,ÔøΩCanada,ÔøΩCanada,North America,1736869
23,ÔøΩChina,ÔøΩChina,Asia,7298147
24,ÔøΩColombia,ÔøΩColombia,South America,328422
32,ÔøΩDenmark,ÔøΩDenmark,Europe,333238
41,ÔøΩFrance,ÔøΩFrance,Europe,2776324
44,ÔøΩGermany,ÔøΩGermany,Europe,3577031
46,ÔøΩGreece,ÔøΩGreece,Europe,303065
52,ÔøΩIndia,ÔøΩIndia,Asia,1676143
53,ÔøΩIndonesia,ÔøΩIndonesia,Asia,845680
54,ÔøΩIran,ÔøΩIran,Asia,482445
58,ÔøΩItaly,ÔøΩItaly,Europe,2198730
60,ÔøΩJapan,ÔøΩJapan,Asia,5869471
73,ÔøΩMexico,ÔøΩMexico,North America,1154784
78,ÔøΩNetherlands,ÔøΩNetherlands,Europe,840433
81,ÔøΩNorway,ÔøΩNorway,Europe,483650
89,ÔøΩPoland,ÔøΩPoland,Europe,513821
93,ÔøΩRussia,ÔøΩRussia,Asia,1850401
94,ÔøΩSaudi Arabia,ÔøΩSaudi Arabia,Asia,577595
100,ÔøΩSouth Africa,ÔøΩSouth Africa,Africa,408074
101,ÔøΩSouth Korea,ÔøΩSouth Korea,Asia,1116247
102,ÔøΩSpain,ÔøΩSpain,Europe,1493513
105,ÔøΩSweden,ÔøΩSweden,Europe,538237
106,ÔøΩSwitzerland,ÔøΩSwitzerland,Europe,636059
107,ÔøΩTaiwan,ÔøΩTaiwan,Asia,466832
109,ÔøΩThailand,ÔøΩThailand,Asia,345649
112,ÔøΩTurkey,ÔøΩTurkey,Asia,778089
116,ÔøΩUnited Arab Emirates,ÔøΩUnited Arab Emirates,Asia,360136
117,ÔøΩUnited Kingdom,ÔøΩUnited Kingdom,Europe,2417570
118,ÔøΩUnited States,ÔøΩUnited States,North America,15094025
121,ÔøΩVenezuela,ÔøΩVenezuela,South America,315841