In [1]:
import pandas as pd
import numpy as np

In [5]:
ages = [99, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
'''
Chia số tuổi thành cách nhóm khác nhau
Các nhòm này được gọi là bins
Ví dụ: chia thành nhóm 18 -> 25, 26 -> 35, 36 -> 60, 61 -> 100
'''
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(60, 100], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [6]:
#Return bins index which is also ages index
cats.codes

array([3, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [8]:
#Return group
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [9]:
#Return number of item in each group
pd.value_counts(cats)

(18, 25]     4
(25, 35]     3
(35, 60]     3
(60, 100]    2
dtype: int64

In [10]:
#Creat labels and name these groups
names = ['Teen', 'Young', 'Middle', 'Old']
pd.cut(ages, bins, labels=names)

['Old', 'Teen', 'Teen', 'Young', 'Teen', ..., 'Young', 'Old', 'Middle', 'Middle', 'Young']
Length: 12
Categories (4, object): ['Teen' < 'Young' < 'Middle' < 'Old']

In [11]:
#Give a int number instead of a list as bins
pd.cut(ages, 3)

[(73.0, 99.0], (20.922, 47.0], (20.922, 47.0], (20.922, 47.0], (20.922, 47.0], ..., (20.922, 47.0], (47.0, 73.0], (20.922, 47.0], (20.922, 47.0], (20.922, 47.0]]
Length: 12
Categories (3, interval[float64, right]): [(20.922, 47.0] < (47.0, 73.0] < (73.0, 99.0]]

In [14]:
pd.value_counts(pd.cut(ages, 3))

(20.922, 47.0]    10
(47.0, 73.0]       1
(73.0, 99.0]       1
dtype: int64

In [15]:
#qcut function will return groups with exact same size
pd.qcut(ages, 4)

[(42.0, 99.0], (20.999, 24.5], (24.5, 31.5], (24.5, 31.5], (20.999, 24.5], ..., (24.5, 31.5], (42.0, 99.0], (42.0, 99.0], (31.5, 42.0], (31.5, 42.0]]
Length: 12
Categories (4, interval[float64, right]): [(20.999, 24.5] < (24.5, 31.5] < (31.5, 42.0] < (42.0, 99.0]]

In [16]:
pd.value_counts(pd.qcut(ages, 4))

(20.999, 24.5]    3
(24.5, 31.5]      3
(31.5, 42.0]      3
(42.0, 99.0]      3
dtype: int64