In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('FoodPrice_in_Turkey.csv')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

### Write to csv file

In [5]:
df.to_csv('to_csv_FoodPrice_in_Turkey.csv')

### Write to excel file

In [7]:
df.to_excel('to_excel_FoodPrice_in_Turkey.xlsx')

### Write to json file

In [10]:
df.to_json('to_json_FoodPrice_in_Turket.json', orient='columns')

### Write to hdf5 file

In [11]:
df.to_hdf('to_hdf5_FoodPrice_in_Turkey.hdf', 'tables')

### Write to html file

In [12]:
df.to_html('to_html_FoodPrice_in_Turkey.html')