In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('GDPlist.csv', encoding='ISO-8859-1')
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

- Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
- Tính giá trị lớn nhất và nhỏ nhất của GDP.
- Hãy cho biết xu hướng phân bố dữ liệu của GDP.
- Hãy cho biết châu lục nào xuất hiện nhiều nhất?
- Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [49]:
gdp_max = df['GDP (millions of US$)'].max()
print(f'Highest GDP:  {gdp_max}')
df_gdp_max = df.loc[lambda x: x['GDP (millions of US$)'] == gdp_max]
print(df_gdp_max)
print()
print()
gdp_min = df['GDP (millions of US$)'].min()
print(f'Lowest GDP:  {gdp_min}')
df_gdp_min = df.loc[lambda x: x['GDP (millions of US$)'] == gdp_min]
print(df_gdp_min)

Highest GDP:  15094025
            Country      Continent  GDP (millions of US$)
118   United States  North America               15094025


Lowest GDP:  10600
   Country Continent  GDP (millions of US$)
71    Mali    Africa                  10600

In [50]:
df.describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [51]:
gdp_mean = df['GDP (millions of US$)'].mean()
print(f'This is mean of GDP:  {gdp_mean}')

gdp_median = df['GDP (millions of US$)'].median()
print(f'This is median of GDP:  {gdp_median}')

# gdp_mode = df['GDP (millions of US$)'].mode()
# print(f'This is mode of GDP:  {gdp_mode}')

# for index in range(0, df.shape[0]):
#     if df['GDP (millions of US$)'][index] == gdp_median:
#         print(index)

# df_gdp = df['GDP (millions of US$)']
# df_gdp = df_gdp.iloc[1:]
# print(df_gdp.shape)
# print(f'This is median by func  {df_gdp.median()}')

# def volume(new_df):
#     print(new_df.shape[0] - 1)
#     return new_df.shape[0] - 1

# def caculate_median(new_df):
#     size = volume(new_df)
#     print(size)
#     if size % 2 == 0:
#         large_center = 0 + int(size/2)
#         small_center = size - int(size/2)
#         result = (new_df[small_center] + new_df[large_center])/2
#         print(f'This is median when list size is so chan    {result}')
#     if size % 2 != 0:
#         index = (size -1)/2 + 0 + 1
#         print(index)
#         print(f'This is median when list size is so le    {new_df[int(index)]}')

# caculate_median(df_gdp)

This is mean of GDP:  555427.784
This is median of GDP:  96089.0

In [52]:
df_continent_mode = df['Continent'].mode()[0]
print(f'Continent that appear most is  {df_continent_mode}')

# print(type(df_continent_mode))
# print(df_continent_mode)

Continent that appear most is  Europe

In [66]:
df.rename(columns={'GDP (millions of US$)': 'GDP'}, inplace=True)
df_continent_gdp_total = df.groupby('Continent', as_index=False).GDP.sum()
df_continent_gdp_mean = df.groupby('Continent', as_index=False).GDP.mean()

df_continent_gdp_total
df_continent_gdp_mean

new_df = pd.merge(df_continent_gdp_mean, df_continent_gdp_total, on='Continent')
new_df.rename(columns={'GDP_x': 'Mean of GDP', 'GDP_y': 'Total GDP'}, inplace=True)
new_df.head()

       Continent   Mean of GDP  Total GDP
0         Africa  6.278659e+04    1820811
1           Asia  6.784970e+05   24425891
2         Europe  5.172805e+05   19139380
3  North America  1.658041e+06   18238447
4        Oceania  5.542423e+05    1662727