In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('FoodPrice_in_Turkey.csv')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [44]:
df['Place'].unique()

array(['National Average', 'Ankara', 'Istanbul', 'Izmir'], dtype=object)

In [45]:
#Caculate price mean of product by year
df_price_mean_by_year = df.pivot_table(values='Price', index='ProductName', columns='Year', aggfunc='mean')
df_price_mean_by_year.head()

Year,2013,2014,2015,2016,2017,2018,2019
ProductName,,,,,,,
Apples (red) - Retail,2.080950,2.410118,2.401417,2.428333,2.560000,NaN,NaN
Apples - Retail,NaN,NaN,NaN,NaN,3.334175,3.923417,4.259810
Bananas - Retail,4.002225,4.962827,5.368833,5.914167,7.313738,8.701475,10.879371
Beans (white) - Retail,6.932800,9.484309,7.288333,6.949167,9.217700,9.242844,11.658690
Bread (common) - Retail,2.853000,3.069491,2.982917,3.373333,4.178841,4.740619,5.513271

In [46]:
#Show highest product price by year
df_max_price_by_year = df.pivot_table(values='Price', columns='Year', aggfunc='max')
df_max_price_by_year.head()

Year      2013     2014   2015   2016     2017      2018     2019
Price  40.1146  39.7204  65.54  76.96  93.9628  159.4458  150.038

In [47]:
#Show hightest price of each product
df_max_price_by_product = df.pivot_table(values='Price', index='ProductName', aggfunc='max')
df_max_price_by_product.head()

                           Price
ProductName
Apples (red) - Retail     2.9800
Apples - Retail           6.0925
Bananas - Retail         12.9400
Beans (white) - Retail   13.0975
Bread (common) - Retail   6.1942

In [49]:
#Show highest, lowest price in each place by month
df_price_in_place_by_month = df.pivot_table(
    values='Price',
    columns='Place',
    index='Month',
    aggfunc={'max', 'min'}
)
df_price_in_place_by_month.head()

            max                                          min                   \
Place    Ankara  Istanbul     Izmir National Average  Ankara Istanbul   Izmir
Month
1      115.3673  133.6567  138.4894         120.3109  0.4118   0.4118  0.4118
2      114.5794  128.7900  136.9639         118.3407  0.4118   0.4118  0.4118
3      114.4755  125.3457  135.8439         117.1583  0.4118   0.4118  0.4118
4      115.3275  122.9646  136.6353         118.2785  0.4054   0.4118  0.4118
5      115.1821  121.9435  135.7095         118.3900  0.3998   0.4118  0.4118


Place National Average
Month
1               0.3210
2               0.3400
3               0.3400
4               0.3200
5               0.2539

In [53]:
#Show tootal price and average month selling by product name
year = len(df['Year'].unique())

df_total_price_ave_year_by_productname = df.pivot_table(
    values=['Price', 'Month'],
    columns='Place',
    index='ProductName',
    aggfunc={'Price': np.sum, 'Month': np.mean}
)
df_total_price_ave_year_by_productname

                                                       Month            \
Place                                                 Ankara  Istanbul
ProductName
Apples (red) - Retail                                    NaN       NaN
Apples - Retail                                     6.500000  6.500000
Bananas - Retail                                    6.500000  6.500000
Beans (white) - Retail                              6.500000  6.500000
Bread (common) - Retail                             6.500000  6.500000
Bread (pita) - Retail                                    NaN       NaN
Bulgur - Retail                                     6.500000  6.500000
Cabbage - Retail                                    6.421053  6.421053
Cauliflower - Retail                                6.294118  6.294118
Cheese - Retail                                     6.500000  6.500000
Chickpeas - Retail                                  6.500000  6.500000
Cocoa (powder) - Retail                             6.500000  6.500000
Coffee (instant) - Retail                           7.071429  7.071429
Coffee - Retail                                     6.500000  6.500000
Cucumbers (greenhouse) - Retail                          NaN       NaN
Cucumbers - Retail                                  6.500000  6.500000
Eggplants - Retail                                  6.500000  6.500000
Eggs - Retail                                       6.500000  6.500000
Electricity - Retail                                6.500000  6.500000
Fish (fresh) - Retail                               6.500000  6.500000
Fuel (gas) - Retail                                 6.500000  6.500000
Fuel (petrol-gasoline) - Retail                     6.500000  6.500000
Garlic - Retail                                     6.500000  6.500000
Groundnuts (shelled) - Retail                       6.500000  6.500000
Lentils - Retail                                    6.500000  6.500000
Meat (chicken) - Retail                             6.500000  6.500000
Meat (mutton) - Retail                              6.500000  6.500000
Meat (veal) - Retail                                6.500000  6.500000
Milk (pasteurized) - Retail                         6.500000  6.500000
Milk (powder, infant formula) - Retail              6.500000  6.500000
Oil (olive) - Retail                                6.500000  6.500000
Oil (sunflower) - Retail                            6.500000  6.500000
Onions - Retail                                     6.500000  6.500000
Oranges - Retail                                    5.846154  5.846154
Pasta - Retail                                      6.500000  6.500000
Peas (green, dry) - Retail                               NaN       NaN
Potatoes - Retail                                   6.500000  6.500000
Rice - Retail                                       6.500000  6.500000
Salt - Retail                                       6.500000  6.500000
Spinach - Retail                                    6.294118  6.294118
Sugar - Retail                                      6.500000  6.500000
Tea (green) - Retail                                     NaN       NaN
Tea (herbal) - Retail                               6.500000  6.500000
Tea - Retail                                        6.500000  6.500000
Tomatoes (paste) - Retail                           6.500000  6.500000
Tomatoes - Retail                                   6.500000  6.500000
Transport (public) - Retail                         6.428571  6.500000
Wage (non-qualified labour, non-agricultural) -...       NaN       NaN
Water - Retail                                      6.500000  6.500000
Wheat flour - Retail                                6.500000  6.500000
Yogurt - Retail                                     6.500000  6.500000
Zucchini - Retail                                   6.500000  6.500000

                                                                               \
Place                                                  Izmir National Average
ProductName
Apples (red) - Retail                                    NaN         6.428571
Apples - Retail                                     6.500000         6.500000
Bananas - Retail                                    6.500000         6.454545
Beans (white) - Retail                              6.500000         6.454545
Bread (common) - Retail                             6.500000         6.454545
Bread (pita) - Retail                                    NaN         6.681818
Bulgur - Retail                                     6.500000         6.454545
Cabbage - Retail                                    6.421053         6.194444
Cauliflower - Retail                                6.294118         6.117647
Cheese - Retail                                     6.500000         6.586957
Chickpeas - Retail                                  6.500000         6.454545
Cocoa (powder) - Retail                             6.500000         6.454545
Coffee (instant) - Retail                           7.071429         6.454545
Coffee - Retail                                     6.500000         6.454545
Cucumbers (greenhouse) - Retail                          NaN         6.428571
Cucumbers - Retail                                  6.500000         6.500000
Eggplants - Retail                                  6.500000         6.586957
Eggs - Retail                                       6.500000         6.454545
Electricity - Retail                                6.500000         6.500000
Fish (fresh) - Retail                               6.500000         6.454545
Fuel (gas) - Retail                                 6.500000         6.586957
Fuel (petrol-gasoline) - Retail                     6.500000         6.586957
Garlic - Retail                                     6.500000         6.454545
Groundnuts (shelled) - Retail                       6.500000         6.454545
Lentils - Retail                                    6.500000         6.454545
Meat (chicken) - Retail                             6.500000         6.454545
Meat (mutton) - Retail                              6.500000         6.454545
Meat (veal) - Retail                                6.500000         6.454545
Milk (pasteurized) - Retail                         6.500000         6.454545
Milk (powder, infant formula) - Retail              6.500000         6.586957
Oil (olive) - Retail                                6.500000         6.454545
Oil (sunflower) - Retail                            6.500000         6.454545
Onions - Retail                                     6.500000         6.454545
Oranges - Retail                                    5.846154         5.840909
Pasta - Retail                                      6.500000         6.454545
Peas (green, dry) - Retail                               NaN         5.285714
Potatoes - Retail                                   6.500000         6.586957
Rice - Retail                                       6.500000         6.454545
Salt - Retail                                       6.500000         6.454545
Spinach - Retail                                    6.294118         6.250000
Sugar - Retail                                      6.500000         6.454545
Tea (green) - Retail                                     NaN         6.428571
Tea (herbal) - Retail                               6.500000         6.500000
Tea - Retail                                        6.500000         6.454545
Tomatoes (paste) - Retail                           6.500000         6.586957
Tomatoes - Retail                                   6.500000         6.454545
Transport (public) - Retail                         6.500000         6.500000
Wage (non-qualified labour, non-agricultural) -...       NaN         6.681818
Water - Retail                                      6.500000         6.500000
Wheat flour - Retail                                6.500000         6.454545
Yogurt - Retail                                     6.500000         6.586957
Zucchini - Retail                                   6.500000         6.500000

                                                        Price             \
Place                                                  Ankara   Istanbul
ProductName
Apples (red) - Retail                                     NaN        NaN
Apples - Retail                                      133.6730   147.7027
Bananas - Retail                                     304.7437   327.6029
Beans (white) - Retail                               332.6128   383.5499
Bread (common) - Retail                              167.4157   184.6184
Bread (pita) - Retail                                     NaN        NaN
Bulgur - Retail                                      129.5859   143.0773
Cabbage - Retail                                      31.8945    38.3249
Cauliflower - Retail                                  56.4567    69.1003
Cheese - Retail                                      961.9613   980.0739
Chickpeas - Retail                                   378.5647   438.2447
Cocoa (powder) - Retail                             1613.8489  1700.9064
Coffee (instant) - Retail                           1045.5429  1424.2491
Coffee - Retail                                     1573.6823  1604.3165
Cucumbers (greenhouse) - Retail                           NaN        NaN
Cucumbers - Retail                                   117.3324   128.5635
Eggplants - Retail                                   136.3472   153.3957
Eggs - Retail                                         18.0299    20.8500
Electricity - Retail                                  18.1837    18.1837
Fish (fresh) - Retail                                887.1821  1035.5012
Fuel (gas) - Retail                                 3055.7316  3200.5098
Fuel (petrol-gasoline) - Retail                      319.4124   322.7623
Garlic - Retail                                      548.1320   716.8176
Groundnuts (shelled) - Retail                        796.0976   898.2896
Lentils - Retail                                     243.2624   262.8975
Meat (chicken) - Retail                              352.9688   385.8055
Meat (mutton) - Retail                              1785.0146  1909.8477
Meat (veal) - Retail                                1522.3885  1609.5090
Milk (pasteurized) - Retail                          138.4768   143.5290
Milk (powder, infant formula) - Retail              3867.4508  4009.7087
Oil (olive) - Retail                                1044.9484  1072.4479
Oil (sunflower) - Retail                             323.0173   344.1325
Onions - Retail                                       73.7092    88.4918
Oranges - Retail                                      87.4031    97.6397
Pasta - Retail                                       130.8555   134.9679
Peas (green, dry) - Retail                                NaN        NaN
Potatoes - Retail                                     81.1773    90.8639
Rice - Retail                                        280.8815   316.1799
Salt - Retail                                         74.0132    84.0101
Spinach - Retail                                      50.7829    62.5746
Sugar - Retail                                       160.7533   173.0889
Tea (green) - Retail                                      NaN        NaN
Tea (herbal) - Retail                                183.6941   198.3318
Tea - Retail                                         950.0084  1027.7726
Tomatoes (paste) - Retail                            277.9238   291.0017
Tomatoes - Retail                                    134.0984   143.4385
Transport (public) - Retail                           85.7563    72.3179
Wage (non-qualified labour, non-agricultural) -...        NaN        NaN
Water - Retail                                       212.7846   204.3195
Wheat flour - Retail                                 107.5198   131.2668
Yogurt - Retail                                      190.2318   203.0441
Zucchini - Retail                                    128.4446   152.0505


Place                                                   Izmir National Average
ProductName
Apples (red) - Retail                                     NaN         100.4721
Apples - Retail                                      137.8665          93.5830
Bananas - Retail                                     342.8845         455.8813
Beans (white) - Retail                               379.3065         570.2033
Bread (common) - Retail                              171.5711         253.0077
Bread (pita) - Retail                                     NaN          52.9000
Bulgur - Retail                                      135.1067         204.1380
Cabbage - Retail                                      36.6622          53.3941
Cauliflower - Retail                                  54.5321          98.2747
Cheese - Retail                                     1035.2488         953.2388
Chickpeas - Retail                                   458.0320         525.6862
Cocoa (powder) - Retail                             1637.9016        2668.9501
Coffee (instant) - Retail                           1559.8856        2464.6463
Coffee - Retail                                     1682.7990        2528.6473
Cucumbers (greenhouse) - Retail                           NaN          92.6859
Cucumbers - Retail                                   118.9467          85.4524
Eggplants - Retail                                   145.5896         162.5948
Eggs - Retail                                         21.2919          27.8591
Electricity - Retail                                  18.1837          13.2415
Fish (fresh) - Retail                                789.4628        1237.3507
Fuel (gas) - Retail                                 3068.0847        3608.0861
Fuel (petrol-gasoline) - Retail                      321.2965         359.7768
Garlic - Retail                                      693.2822         931.9725
Groundnuts (shelled) - Retail                        852.7035        1251.6986
Lentils - Retail                                     263.5486         387.7077
Meat (chicken) - Retail                              379.5504         566.5992
Meat (mutton) - Retail                              1851.8339        2380.2582
Meat (veal) - Retail                                1621.6671        2427.5727
Milk (pasteurized) - Retail                          141.4499         216.8098
Milk (powder, infant formula) - Retail              4306.6330        4492.5127
Oil (olive) - Retail                                1063.7668        1564.6080
Oil (sunflower) - Retail                             317.7816         538.4688
Onions - Retail                                       88.3118         122.1150
Oranges - Retail                                      87.0786         109.0408
Pasta - Retail                                       131.5066         211.0849
Peas (green, dry) - Retail                                NaN          20.3002
Potatoes - Retail                                     87.7596          93.9727
Rice - Retail                                        318.6902         467.6049
Salt - Retail                                         81.3386         117.0271
Spinach - Retail                                      56.8981          72.7884
Sugar - Retail                                       165.4068         280.7829
Tea (green) - Retail                                      NaN         173.7540
Tea (herbal) - Retail                                199.5347         135.8380
Tea - Retail                                        1093.0043        1492.2591
Tomatoes (paste) - Retail                            307.5030         368.6812
Tomatoes - Retail                                    134.9070         178.0526
Transport (public) - Retail                          110.4762          54.7616
Wage (non-qualified labour, non-agricultural) -...        NaN         892.0600
Water - Retail                                       180.0569         113.5604
Wheat flour - Retail                                 130.8998         196.3658
Yogurt - Retail                                      209.4428         223.4756
Zucchini - Retail                                    133.6774          92.3674